<h2 class="text-capitalize mt-3 mb-5">checkout</h2>

{% if shopping_cart_items %}
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-sm-3">
                <img src="media/about-farm.PNG" class="rounded">
            </div>

            <div class="col-12 col-sm-9">                
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-capitalize table-secondary">
                            <th scope="col">name</th>
                            <th scope="col">size</th>
                            <th scope="col">price</th>
                            <th scope="col">sub total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-capitalize">
                            <th>#</th>
                            <th class="text-lowercase">1x  ml</th>
                            <th>£</th>
                            <th>£</th>
                        </tr>
                    </tbody>
                </table> 
            </div>

            <div class="col-12 ">
                <form method="GET" action="#" class="quantity-selection checkout-edit-btn">
                    {% csrf_token %}
                    <label for="#"></label>
                    <button type="submit" class="text-uppercase bg-secondary mb-5">edit</button>
                    <input value="#" type="number" id="#" name="#">
                </form> 
                <i class="fas fa-trash-alt ml-1"></i>
            </div>

            <div class="checkout-totals col-6 col-sm-4 text-capitalize ">
                <ul class="text-left">
                    <li>subtotal: £</li>
                    <li>delivery cost: £</li>
                    <li>grand total: £</li>
                </ul>
            </div>

            <div class="col-6 col-sm-2 text-uppercase">
                <a href="#" class="pay-btn text-capitalize bg-secondary text-body">pay</a>
            </div>

        </div>
    </div>
 {% else %} 
    <div>
        <p>Your shopping cart is empty!</p>
        <a class="back-to-home-pg-btn text-body text-capitalize bg-secondary text-body" href="{% url 'home' %}">back to home</a>
    </div>
{% endif %}



















