{% extends "base.html" %}
{% load static %}

{% block tab_title %}| Add Drinks{% endblock %}

{% block add_drink %}
    <section class="footer-pusher">
        <h2 class="text-capitalize mt-3">add drinks</h2>      
        
        <div class="container">        
            <div class="row">

                <div class="col-12">   
                    <form class="management-form-border text-left p-1" method="POST" action="{% url 'add_drink' %}" enctype="multipart/form-data">  
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                            <a href="{% url 'home' %}" class="form-submit-btn mr-2 text-uppercase text-body bg-secondary font-weight-bolder mt-2" type="submit">cancel</a>
                            <button class="form-submit-btn text-uppercase ml-2 bg-secondary font-weight-bolder mt-2" type="submit">add drink</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $("#adminBrowseImage").change(function() {
            let file = $("#adminBrowseImage")[0].files[0];
            $("#adminBrowseImagePara").text(`Selected image: ${file.name}`);
        });
    </script>
{% endblock %}
