{% extends "base.html" %}
{% load static %}

{% block tab_title %}| Home{% endblock %}

{% block content %}
    <div class="fixed-cart position-fixed mr-1">
        <a href="#" class="text-body">
            <i class="fa-2x fas fa-shopping-cart"></i>
            <p>
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </a>
    </div> 

    <section>
        <h1 class="text-center">New Drinks</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum reiciendis in quasi ex alias. Libero, eius vitae reprehenderit cum rem ipsam autem fugiat soluta ut non enim ipsum laborum?Suscipit cupiditate omnis quae consequuntur impedit tenetur distinctio inventore, iusto, ad quaerat magnam dicta soluta, sint qui repudiandae veniam iste quasi cumque est possimus fugiat quisquam tempora doloribus? Tempora, beatae.</p>
    </section>

    <section>
        <h1 class="text-center">Juices</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum reiciendis in quasi ex alias. Libero, eius vitae reprehenderit cum rem ipsam autem fugiat soluta ut non enim ipsum laborum?Suscipit cupiditate omnis quae consequuntur impedit tenetur distinctio inventore, iusto, ad quaerat magnam dicta soluta, sint qui repudiandae veniam iste quasi cumque est possimus fugiat quisquam tempora doloribus? Tempora, beatae.</p>       
    </section>

    <section>
        <h1 class="text-center">Smoothies</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum reiciendis in quasi ex alias. Libero, eius vitae reprehenderit cum rem ipsam autem fugiat soluta ut non enim ipsum laborum?Suscipit cupiditate omnis quae consequuntur impedit tenetur distinctio inventore, iusto, ad quaerat magnam dicta soluta, sint qui repudiandae veniam iste quasi cumque est possimus fugiat quisquam tempora doloribus? Tempora, beatae.</p>
    </section>

    <section>
        <h1 class="text-center">About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum reiciendis in quasi ex alias. Libero, eius vitae reprehenderit cum rem ipsam autem fugiat soluta ut non enim ipsum laborum?Suscipit cupiditate omnis quae consequuntur impedit tenetur distinctio inventore, iusto, ad quaerat magnam dicta soluta, sint qui repudiandae veniam iste quasi cumque est possimus fugiat quisquam tempora doloribus? Tempora, beatae.</p>
    </section>
{% endblock %}
    