{% extends "base.html" %}
{% load static %}

{% block tab_title %}| Home{% endblock %}

{% block home %}   

<!-- NOT WORKING!!!!!! -->
    {% if messages %} 
        {% for message in messages %}
            <p class="font-weight-bolder text-danger">{{ message }}</p>                           
        {% endfor %}
    {% endif %}
<!-- NOT WORKING!!!!!! -->
    {% if request.user.is_superuser %}
        <div class="text-left col-12 mt-4">
            <a class="text-body text-lowercase font-weight-bolder" href="{% url 'admin:index' %}"><u>django admin</u></a> 
        </div>
    {% endif %}
    {% include "includes/sort-by.html" %} 
    {% include "includes/search-drinks.html" %} 
    {% include "includes/new-drinks.html" %}
    {% include "includes/juices.html" %}   
    {% include "includes/milkshakes.html" %}  
    {% include "includes/about-us.html" %}  

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $("#adminBrowseImage").change(function() {
            let file = $("#adminBrowseImage")[0].files[0];
            $("#adminBrowseImagePara").text(`Selected image: ${file.name}`);
        });
    </script>
{% endblock %}