<section id="aboutUsSection">
    <div class="container mt-1"> 
        <div class="row">
            {% for about in about_us %}
                {% if forloop.first %}
                    <div class="col-12">
                        <h1 class="text-capitalize mt-0">{{ about.title }}</h1>
                        <p>{{ about.paragraph }}</p>
                    </div>
                {% else %}
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="about_us_img">
                            {% if about.image %}
                                <img src="media/{{ about.image }}" class="rounded" alt="{{ about.image_alt }}">
                            {% endif %}
                            <h2>{{ about.title }}</h2>
                            <p>{{ about.paragraph }}</p>
                        </div>
                    </div>                      
                {% endif %}
            {% endfor %}          
        </div>
    </div>
</section>
