<section id="juiceSection">
    <h1 class="text-capitalize my-4">juices</h1>
    <div class="container">
        <div class="row">
            {% for juice in juices %}
                <div id="juiceSelection_{{ juice.id }}" class="col-sm-6 col-md-4 col-lg-3">                  
                    <div class="container">                
                        <div class="row">
                            <div class="col">
                                {% include "includes/drink-images-includes/juice-images.html" %} 
                                {% include "includes/drink-details-includes/juice-details.html" %} 
                                {% include "includes/drink-forms-includes/juice-forms.html" %}   
                                {% include "includes/drink-modals-includes/juice-modals.html" %}                           
                            </div>
                        </div>
                    </div>                                                        
                </div>              
            {% endfor %}
        </div>
    </div>
</section>
