<section id="milkshakeSection">
    <h1 class="text-capitalize my-4">milkshakes</h1>
        <div class="container">
            <div class="row">
                {% for milkshake in milkshakes %}
                    <div class="col-sm-6 col-md-4 col-lg-3">            
                        <div class="container">                
                            <div class="row">    
                                <div class="col">                              
                                <div class="drinks_img"> 
                                    {% for new_drink in new_drinks %}
                                        {% if milkshake.drink_name == new_drink.drink_name %}
                                            <div class="new-drinks-circle text-capitalize bg-secondary font-weight-bold">new!</div>
                                        {% endif %}
                                    {% endfor %}
                                    <img src="{{ milkshake.image }}" alt="{{ milkshake.drink_name }}" class="rounded">
                                </div>                                 
                                <ul>
                                    <li class="text-capitalize">{{ milkshake.drink_name }}</li> 
                                    <li>1x{{ milkshake.millilitres }}ml</li>                            
                                    <li>£{{ milkshake.price}}</li>                            
                                </ul>
                                <form method="POST" action="{% url 'add_to_shopping_cart' milkshake.id %}" class="quantity-selection">
                                    {% csrf_token %}
                                    <label for="milkshakeSelection"></label>
                                    <input value="1" type="number" name="drinkSelections" min="1" max="100" data-drink_id="{{ milkshake.id }}" id="milkshakeSelection_{{ milkshake.id }}">
                                    <button type="submit" class="text-uppercase bg-secondary mb-5">add to cart</button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>  
                {% endfor %}
            </div>
        </div>
</section>
