<div class="drinks_img"> 
    {% for new_drink in new_drinks %}
        {% if milkshake.drink_name == new_drink.drink_name %}
            <div class="new-drinks-circle2 text-capitalize font-weight-bolder">new!</div>
        {% endif %}
    {% endfor %}

    {% if milkshake.image %}  
        <img src="{{MEDIA_URL}}{{ milkshake.image }}" alt="{{ milkshake.drink_name|capfirst }} photo." class="rounded">
    {% else %}
        <img class="mb-1 rounded" src="{{ MEDIA_URL }}no-image.PNG" alt="No image available.">  
    {% endif %}   
</div>