/******************************************* universal */
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.fas.fa-arrow-circle-up:hover,
.fixed-arrow:hover {
  background-color: lightblue;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-padding-top: 13em;
  scroll-behavior: smooth;
}

.fixed-arrow {
  display: none;
  bottom: 1em;
  position: fixed;
  right: 0.5em;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
}

.fas.fa-arrow-circle-up {
  border-radius: 2em;
  cursor: pointer;
  border: solid 0.1em lightblue;
}

/******************************************* mobile navbar header */
.navbar-toggler,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.fixed-top.navbar input[type="search"]:focus,
.fixed-top.navbar input[type="search"]:active,
.fixed-top.navbar button:focus,
.fixed-top.navbar button:active,
.fixed-top.navbar button.search-btn-bg,
.fixed-top.navbar button.search-btn-bg:focus,
.fixed-top.navbar button.search-btn-bg:active,
.fixed-top.navbar button.search-btn-bg,
.fixed-top.navbar button.search-btn-bg:focus,
.fixed-top.navbar button.search-btn-bg:active,
.fixed-top.navbar input[type="search"] {
  box-shadow: 0.1em 0.1em;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active,
.fixed-top.navbar input[type="search"]:focus,
.fixed-top.navbar input[type="search"]:active,
.fixed-top.navbar button:focus,
.fixed-top.navbar button:active {
  border: #17a2b8 solid 0.2em;
}

.fixed-top.navbar input[type="search"]:active,
.fixed-top.navbar input[type="search"]:focus,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
  outline: none;
  box-shadow: none;
}

.fixed-top.navbar button.search-btn-bg,
.fixed-top.navbar button.search-btn-bg:focus,
.fixed-top.navbar button.search-btn-bg:active,
.fixed-top.navbar button.search-btn-bg,
.fixed-top.navbar button.search-btn-bg:focus,
.fixed-top.navbar button.search-btn-bg:active,
.nav-link:hover {
  background-color: lightblue;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.fixed-top.navbar.navbar-expand-lg.navbar-light {
  z-index: 1070;
}

.nav-link {
  font-size: 1.2em;
}

.nav-link:hover {
  transition: 0.5s;
}

.fas.fa-search {
  font-size: 1.5em;
}

.fixed-top.navbar input[type="search"] {
  border: lightblue solid 0.2em;
  text-transform: capitalize;
}

/******************************************* profile & trolley header */
.fas.fa-user-alt:focus,
.fas.fa-user-alt:active,
.fas.fa-shopping-cart:focus,
.fas.fa-shopping-cart:active {
  color: #17a2b8;
}

.fas.fa-user-alt,
.fas.fa-shopping-cart {
  font-size: 2.5em;
}

.trolley-counter-number,
.trolley-price {
  font-size: 1.2em;
}

.fas.fa-user-alt,
.fas.fa-shopping-cart {
  position: absolute;
}

.icon-nav-bg {
  background-color: lightblue;
  height: 6em;
  margin-top: 3.4em;
}

.fas.fa-user-alt {
  top: -0.1em;
  left: 1.7em;
}

.fas.fa-shopping-cart {
  right: 1.7em;
}

.trolley-counter-number {
  top: 0.2em;
  position: absolute;
  right: 0.2em;
  background-color: #17a2b8;
  border-radius: 50%;
  width: 60px;
  box-shadow: 0.1em 0.1em;
}

.shopping-cart-price {
  right: 2.2em;
  position: absolute;
  top: 2.4em;
}

/******************************************* delivery header */
.delivery-cost-bg {
  margin-top: 5.5em;
  font-size: 1.5em;
}

.delivery-highlight {
  background-color: lightblue;
  padding: 0em 0.3em 0 0.2em;
  border-radius: 15%;
  box-shadow: 0.1em 0.1em;
}

/******************************************* footer */
.fab.fa-youtube,
.fab.fa-twitter-square,
.fab.fa-snapchat-square,
.fab.fa-facebook-square,
.fab.fa-instagram {
  cursor: pointer;
}

html,
body {
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 4em;
}

.footer-pusher {
  padding-bottom: 10em;
}

.card {
  border-radius: 0px;
  background-color: lightblue;
  border: none;
}

.footer-contacts {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card-footer:last-child {
  border-radius: 0;
}

/******************************************* form fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select#id_section:focus,
select#id_drink_type:focus,
textarea#id_paragraph:focus,
button[type="submit"]:focus,
.profile-countries:focus,
input[type="text"]:active,
input[type="email"]:active,
input[type="number"]:active,
select#id_section:active,
select#id_drink_type:active,
textarea#id_paragraph:active,
button[type="submit"]:active,
.profile-countries:active {
  outline: none;
  box-shadow: none;
  border: #17a2b8 solid 0.2em;
}

label[for="id_email"],
label[for="id_email2"],
label[for="id_username"],
label[for="id_password1"],
label[for="id_password2"],
label[for="id_login"],
label[for="id_password"],
label[for="id_oldpassword"] {
  display: none;
}

select,
input[type="text"],
input[type="text"]::placeholder,
input[type="email"]::placeholder {
  text-transform: capitalize;
}

input[type="text"]#id_postcode,
input[type="text"]#id_default_postcode {
  text-transform: uppercase;
}

input[type="email"] {
  text-transform: lowercase;
}

/******************************************* home page */
.buy-now-btn:focus,
.buy-now-btn:active,
.buy-now-btn:hover,
.sort-by-section button:focus,
.sort-by-section button:active,
.sort-by-section button:hover,
.quantity-selection input[type="number"]:hover,
.quantity-selection input[type="number"]:focus,
.quantity-selection input[type="number"]:active,
.quantity-selection button:active,
.quantity-selection button:focus {
  outline: none;
}

.sort-by-section button:focus,
.sort-by-section button:active,
.sort-by-section button:hover,
.buy-now-btn:focus,
.buy-now-btn:active,
.buy-now-btn:hover,
.quantity-selection input[type="number"]:hover,
.quantity-selection input[type="number"]:focus,
.quantity-selection input[type="number"]:active,
.quantity-selection button:hover {
  border: #17a2b8 solid 0.2em;
}

.sort-by-section button,
.sort-by-section button:focus,
.sort-by-section button:active,
.buy-now-btn,
.buy-now-btn:focus,
.buy-now-btn:active {
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
}

.quantity-selection button:active,
.quantity-selection button:focus,
.quantity-selection input[type="number"],
.quantity-selection button {
  box-shadow: 0.1em 0.1em;
}

.quantity-selection button:active,
.quantity-selection button:focus {
  border: #17a2b8 solid 0.2em;
}

.quantity-selection input[type="number"],
.quantity-selection button {
  border-radius: 0.2em;
}

.sort-by-section button,
.buy-now-btn {
  background-color: lightblue;
}

.sort-by-section a:active,
.sort-by-section a:focus {
  color: black;
}

.new-drinks-circle1,
.new-drinks-circle2 {
  height: 3em;
  width: 3.2em;
  border-radius: 50%;
  position: absolute;
  left: 2.5em;
  top: -1em;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1em 0.1em;
}

#homePageSection {
  padding-bottom: 10em;
}

.drinks_img img {
  width: 10em;
  height: 15em;
}

.sort-by-section {
  position: fixed;
  top: 10.1em;
  right: 0.2em;
  z-index: 1;
}

.sort-by-section a:hover {
  background-color: lightblue;
}

.dot-dot-dot {
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.quantity-selection button {
  background-color: lightblue;
  padding: 0 0.5em;
}

.quantity-selection input[type="number"] {
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
}

/******************************************* drink search */
.searched-drinks input[type="number"]:hover,
.searched-drinks input[type="number"]:focus,
.searched-drinks input[type="number"]:active,
.searched-drinks button:active,
.searched-drinks button:focus {
  outline: none;
}

.searched-drinks input[type="number"]:hover,
.searched-drinks input[type="number"]:focus,
.searched-drinks input[type="number"]:active,
.searched-drinks button:hover {
  border: #17a2b8 solid 0.2em;
}

.searched-drinks button:active,
.searched-drinks button:focus,
.searched-drinks input[type="number"],
.searched-drinks button {
  box-shadow: 0.1em 0.1em;
}

.searched-drinks button:active,
.searched-drinks button:focus {
  border: #17a2b8 solid 0.2em;
}

.searched-drinks input[type="number"],
.searched-drinks button {
  border-radius: 0.2em;
}

.searched-drinks button {
  background-color: lightblue;
  padding: 0.3em;
  border: lightblue;
}

.searched-drinks input[type="number"] {
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
}

/******************************************* about us */
#aboutUsSection {
  padding-bottom: 10em;
}

.about_us_img img {
  width: 10em;
  height: 10em;
}

/******************************************* shopping cart */
.shopping-cart-edit-btn button:active,
.shopping-cart-edit-btn button:focus,
.shopping-cart-edit-btn button:hover,
.shopping-cart-edit-btn input[type="number"]:active,
.shopping-cart-edit-btn input[type="number"]:focus,
.shopping-cart-edit-btn input[type="number"]:hover,
.pay-btn:active,
.pay-btn:focus,
.pay-btn:hover,
.back-to-home-pg-btn:active,
.back-to-home-pg-btn:focus,
.back-to-home-pg-btn:hover {
  border: #17a2b8 solid 0.2em;
}

.shopping-cart-edit-btn input[type="number"]:active,
.shopping-cart-edit-btn input[type="number"]:focus,
.shopping-cart-edit-btn input[type="number"]:hover,
.shopping-cart-edit-btn button:active,
.shopping-cart-edit-btn button:focus {
  outline: none;
}

.shopping-cart-edit-btn button:active,
.shopping-cart-edit-btn button:focus,
.shopping-cart-edit-btn input[type="number"],
.shopping-cart-edit-btn button,
.pay-btn,
.back-to-home-pg-btn {
  box-shadow: 0.1em 0.1em;
}

.shopping-cart-edit-btn input[type="number"],
.shopping-cart-edit-btn button,
.pay-btn,
.back-to-home-pg-btn {
  border-radius: 0.2em;
}

.pay-btn,
.back-to-home-pg-btn {
  padding: 0.3em;
  background-color: lightblue;
}

.fas.fa-trash-alt:hover,
.fas.fa-trash-alt:active {
  color: #17a2b8;
}

.shopping_cart_img {
  height: 12em;
  width: 7em;
}

.shopping-cart-edit-btn {
  display: inline;
}

.shopping-cart-edit-btn button {
  border: lightblue;
  padding: 0 0.5em;
}

.shopping-cart-edit-btn input[type="number"] {
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
}

.fas.fa-trash-alt {
  font-size: 1.5em;
  cursor: pointer;
}

.pay-btn {
  font-size: 1.7em;
}

.back-to-home-pg-btn {
  font-size: 1em;
}

/******************************************* make payment */
.payment-form-border input:focus,
.payment-form-border select:focus,
.change-password-btn:focus,
.form-submit-btn:focus {
  outline: none;
  box-shadow: none;
  border: #17a2b8 solid 0.2em;
}

select,
select option {
  color: #212529;
}

select:invalid,
select option[value=""] {
  color: #6c757d !important;
}

.form-submit-btn {
  border-radius: 0.2em;
  outline: none;
  margin: -0.5em 0em 0em 0em;
  border: lightblue solid 0.1em;
  text-align: center;
  padding: 0.2em;
  box-shadow: 0.1em 0.1em;
}

.change-password-btn {
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
  font-size: 1em;
}

.drink-order-box {
  height: 30vh;
  border: solid #17a2b8 0.2em;
  overflow: auto;
}

.payment-form-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  overflow: auto;
}

.payment-form-border div {
  border-radius: 0.2em;
}

/******************************************* stripe */
.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;
  background-color: white;
}

.StripeElement--focus,
.stripe-style-input:focus {
  border: #17a2b8 solid 0.2em;
  outline: none;
}

.stripe-style-input {
  color: #212529;
}

.stripe-style-input::placeholder {
  color: #6c757d !important;
}

.StripeElement--invalid {
  border-color: red;
}

/******************************************* processing payment */
#loadingOverlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.63);
  z-index: 9999;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.payment-summary {
  border: lightblue 0.2em solid;
  margin: auto;
  width: 95vw;
  padding: 10px;
}

.message {
  font-size: 0.9em;
}

/******************************************* allauth pages */
.signup-border,
.login-border,
.reset-password-border,
.change-password-border,
.add-email-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  width: 18em;
  margin: auto;
  overflow: auto;
}

.signup-border input,
.login-border input,
.change-password-border input,
.add-email-border input[type="email"],
.reset-password-border input[type="email"] {
  margin: 1em;
  height: 2.4em;
  background-color: white;
  border-radius: 0.2em;
  padding: 0em 0.2em;
  border: none;
}

.signup-border input,
.change-password-border input,
.add-email-border input,
.reset-password-border input[type="email"] {
  width: 15em;
}

.add-email-border input[type="radio"] {
  width: 1em;
}

select {
  cursor: pointer;
}

.change-password-border {
  height: 300px;
  margin-top: 1em;
}

.change-password-border input {
  margin-top: 1em;
}

.signup-border {
  height: 420px;
}

.login-border {
  height: 230px;
}

.reset-password-border {
  height: 150px;
}

.errorlist {
  color: #dc3545;
  font-weight: 900;
}

/******************************************* profiles */
.profile-countries,
#id_default_country,
#id_default_country option:not(first-child),
select:valid {
  color: #212529;
}

.profile-countries input::placeholder,
#id_default_country option:first-child {
  color: #6c757d;
}

.update-form-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  width: 18em;
  margin: auto;
  overflow: auto;
  padding: 0.5em;
  height: 27em;
}

.order-history-border {
  height: 15em;
  border: solid #17a2b8 0.2em;
}

.order-history-border thead {
  background-color: lightblue;
}

/******************************************* admin */
.edit-btn:active,
.edit-btn:focus,
.edit-btn:hover,
.edit-btn {
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
  outline: none;
}

.edit-btn:active,
.edit-btn:focus,
.edit-btn:hover {
  border: #17a2b8 solid 0.2em;
}

.management-form-border a,
.management-form-border button {
  padding: 0.4em;
}

.edit-btn {
  background-color: lightblue;
}

.django-admin-link {
  top: 0.5em;
  padding-left: 0.2em;
  margin-bottom: 1.5em;
}

.management-form-border input#id_image:focus {
  border: none;
}

.modal.fade {
  top: 5em;
}

.management-form-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  overflow: auto;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

#adminBrowseImage {
  color: lightblue;
}

/******************************************* media queries ******************************************* */
@media (min-width: 356px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 4em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 13em;
    width: 9em;
  }
}

@media (min-width: 400px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 5.5em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 14em;
    width: 10em;
  }
}

@media (min-width: 442px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 7em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 15em;
    width: 11em;
  }
}

@media (min-width: 472px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 8em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 16em;
    width: 12em;
  }
}

@media (min-width: 526px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 9.5em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 17em;
    width: 13em;
  }
}

/* bootstrap media query */
@media (min-width: 576px) {
  /******************************************* universal */
  html {
    scroll-padding-top: 10.5em;
  }

  /******************************************* mobile navbar header */
  #searchBar {
    width: 100%;
  }

  /******************************************* profile & trolley header */
  .fas.fa-user-alt {
    left: 3.7em;
    top: 0em;
  }

  .shopping-cart-price {
    right: 2.5em;
    top: 2.5em;
  }

  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 1em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 12em;
    width: 7em;
  }

  .shopping-cart-costs {
    padding: 0em 0em 0em 6em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 4em;
  }

  /******************************************* make payment */
  .payment-form-border,
  .drink-order-box {
    height: 540px;
  }

  .payment-form-border {
    margin: auto;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border,
  .reset-password-border,
  .change-password-border,
  .add-email-border {
    width: 24em;
  }

  .change-password-border {
    height: 310px;
    margin-top: 2em;
  }

  .signup-border input,
  .login-border input,
  .add-email-border input {
    width: 21em;
  }

  /******************************************* profiles */
  .update-form-border {
    width: 32em;
    padding: 1em;
    height: 28em;
  }
}

/* bootstrap media query */
@media (min-width: 768px) {
  /******************************************* footer */
  .footer-contacts {
    position: absolute;
    bottom: 0;
  }

  /******************************************* home page */
  .new-drinks-circle1 {
    left: 4em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 11em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 2em;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border {
    width: 30em;
  }

  .signup-border input,
  .login-border input {
    width: 27em;
  }

  .change-password-border {
    width: 25em;
  }

  /******************************************* profiles */
  .update-form-border {
    width: 20em;
    padding: 2em;
    height: 30em;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 3em;
  }
}

/* bootstrap media query */
@media (min-width: 992px) {
  /******************************************* universal */
  html {
    scroll-padding-top: 9.5em;
  }

  /******************************************* header */
  .person-icon-bg,
  .shopping-cart-icon-bg {
    position: absolute;
  }

  .fas.fa-shopping-cart {
    font-size: 2.5em;
    margin-top: 0em;
  }

  .text-left .navbar-brand.text-body {
    font-size: 3em;
  }

  input[type="search"] {
    border-radius: 5px;
    border: 0.2em lightblue solid;
    height: 2.5em;
  }

  .lg-search-bar-bg {
    position: absolute;
    top: 1.5em;
    right: 15.5em;
  }

  .person-icon-bg {
    right: 9em;
  }

  .shopping-cart-icon-bg {
    right: 4em;
  }

  .lg-search-bar.form-control:focus {
    outline: none;
    box-shadow: none;
    border: #17a2b8 solid 0.3em;
  }

  .trolley-counter-number {
    top: 0.2em;
    right: -2em;
    background-color: lightblue;
    border-radius: 50%;
    height: 70%;
    width: 70%;
    cursor: pointer;
  }

  .shopping-cart-price {
    right: -1.7em;
    top: 2.3em;
  }

  .desktop-links-nav {
    margin-top: 5.1em;
    background-color: lightblue;
    height: 2.4em;
  }

  .desktop-links li {
    display: inline;
    font-size: 1.5em;
  }

  .delivery-cost-bg {
    top: -0.7em;
  }

  .new-drinks-circle1 {
    left: 1em;
  }

  /******************************************* home page */
  .home-message {
    margin-top: 1.5em;
  }

  .sort-by-section {
    top: 9.1em;
  }

  .django-admin-link {
    top: -0.6em;
    margin-bottom: 0em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 19em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 2em;
  }

  /******************************************* processing payment */
  .payment-summary {
    width: 70vw;
  }

  /******************************************* allauth pages */
  .signup-border {
    height: 430px;
  }

  .login-border {
    height: 230px;
  }

  .reset-password-border {
    height: 150px;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 10em;
  }
}

/* bootstrap media query */
@media (min-width: 1200px) {
  /******************************************* header */
  .slurps-title {
    margin-left: 0.5em;
  }

  .lg-search-bar-bg {
    right: 19.5em;
  }

  .person-icon-bg {
    right: 11em;
  }

  .shopping-cart-icon-bg {
    right: 5em;
  }

  .trolley-counter-number {
    right: -2.3em;
  }

  .shopping-cart-price {
    right: -1.7em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 24em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 1em;
  }

  /******************************************* make payment */
  .payment-form-border,
  .drink-order-box {
    height: 530px;
  }

  /******************************************* processing payment */
  .payment-summary {
    width: 55vw;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border,
  .change-password-border {
    width: 35em;
  }

  .signup-border input,
  .login-border input,
  .change-password-border input {
    width: 32em;
  }

  /******************************************* profiles */
  .update-form-border {
    width: 35em;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 15em;
  }
}
