/******************************************* universal */
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.fas.fa-arrow-circle-up:hover,
.fixed-arrow:hover {
  background-color: lightblue;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-padding-top: 13em;
  scroll-behavior: smooth;
}

.fixed-arrow {
  display: none;
  bottom: 1em;
  position: fixed;
  right: 0.5em;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
}

.fas.fa-arrow-circle-up {
  border-radius: 2em;
  cursor: pointer;
  border: solid 0.1em lightblue;
}

/******************************************* mobile navbar header */
.fixed-top.navbar input[type="search"]:focus,
.fixed-top.navbar input[type="search"]:active,
.fixed-top.navbar input[type="search"]:hover,
.fixed-top.navbar button:focus,
.fixed-top.navbar button:active,
.fixed-top.navbar button:hover {
  border: #17a2b8 solid 0.2em;
  box-shadow: 0.1em 0.1em;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.navbar-brand:focus,
.navbar-brand:hover,
.navbar-brand:active {
  color: #17a2b8;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  transition: 0.5s;
  background-color: lightblue;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.fixed-top.navbar button {
  background-color: lightblue;
  box-shadow: 0.1em 0.1em;
}

.fixed-top.navbar button.navbar-toggler {
  background-color: #f8f9fa;
}

.navbar-brand {
  color: #212529;
}

.fixed-top.navbar.navbar-expand-lg {
  z-index: 1070;
}

.nav-link {
  font-size: 1.2em;
}

.fas.fa-search {
  font-size: 1.5em;
}

.fixed-top.navbar input[type="search"] {
  border: lightblue solid 0.2em;
  box-shadow: 0.1em 0.1em;
}

/******************************************* profile & trolley header */
.fas.fa-user-alt:focus,
.fas.fa-user-alt:active,
.fas.fa-user-alt:hover,
.fas.fa-shopping-cart:focus,
.fas.fa-shopping-cart:active,
.fas.fa-shopping-cart:hover,
.shopping-cart-price:focus,
.shopping-cart-price:active,
.shopping-cart-price:hover {
  color: #17a2b8;
}

.trolley-counter-number:focus,
.trolley-counter-number:active,
.trolley-counter-number:hover {
  border: lightblue solid 0.2em;
}

.icon-nav-bg {
  height: 6em;
  margin-top: 3.4em;
  background-color: lightblue;
}

.fas.fa-user-alt {
  top: -0.1em;
  left: 1.7em;
  position: absolute;
  font-size: 2.5em;
}

.fas.fa-shopping-cart {
  right: 1.7em;
  position: absolute;
  font-size: 2.5em;
}

.trolley-counter-number {
  top: 0.2em;
  position: absolute;
  right: 0.2em;
  border-radius: 50%;
  width: 60px;
  box-shadow: 0.1em 0.1em;
  background-color: #f8f9fa;
  font-size: 1.2em;
}

.shopping-cart-price {
  right: 2.2em;
  font-size: 1.2em;
  position: absolute;
  top: 1.9em;
}

/******************************************* delivery header */
.delivery-cost-bg {
  margin-top: 5.5em;
  font-size: 1.5em;
}

.delivery-highlight {
  background-color: lightblue;
  padding: 0em 0.3em 0 0.2em;
  border-radius: 15%;
  box-shadow: 0.1em 0.1em;
}

/******************************************* footer */
.fab.fa-youtube,
.fab.fa-twitter-square,
.fab.fa-snapchat-square,
.fab.fa-facebook-square,
.fab.fa-instagram {
  cursor: pointer;
}

html,
body {
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 4em;
}

.footer-pusher {
  padding-bottom: 10em;
}

.card {
  border-radius: 0px;
  background-color: lightblue;
  border: none;
}

.footer-contacts {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card-footer:last-child {
  border-radius: 0;
}

/******************************************* form fields */
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
input[type="number"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active,
button[type="submit"]:hover,
textarea#id_paragraph:focus,
textarea#id_paragraph:active,
textarea#id_paragraph:hover,
select#id_drink_type:focus,
select#id_drink_type:active,
select#id_drink_type:hover,
select#id_section:focus,
select#id_section:active,
select#id_section:hover,
select#id_country:focus,
select#id_country:active,
select#id_country:hover,
select#id_default_country:focus,
select#id_default_country:active,
select#id_default_country:hover {
  outline: none;
  box-shadow: none;
  border: #17a2b8 solid 0.2em;
}

label[for="id_username"],
label[for="id_email"],
label[for="id_email2"],
label[for="id_password"],
label[for="id_oldpassword"],
label[for="id_password1"],
label[for="id_password2"],
label[for="id_login"] {
  display: none;
}

select,
input[type="text"],
input[type="text"]::placeholder {
  text-transform: capitalize;
}

input[type="text"]#id_postcode,
input[type="text"]#id_default_postcode {
  text-transform: uppercase;
}

input[type="email"],
input[type="email"]::placeholder {
  text-transform: lowercase;
}

select,
select option {
  color: #212529;
}

select:invalid,
select option[value=""] {
  color: #6c757d !important;
}

/******************************************* home page */
.buy-now-btn:focus,
.buy-now-btn:active,
.buy-now-btn:hover,
.sort-by-section button:focus,
.sort-by-section button:active,
.sort-by-section button:hover,
.quantity-selection input[type="number"]:focus,
.quantity-selection input[type="number"]:active,
.quantity-selection input[type="number"]:hover,
.quantity-selection button:focus,
.quantity-selection button:active,
.quantity-selection button:hover {
  outline: none;
  border: #17a2b8 solid 0.2em;
}

.sort-by-section a:focus,
.sort-by-section a:active,
.sort-by-section a:hover {
  background-color: lightblue;
}

.new-drinks-circle1,
.new-drinks-circle2 {
  height: 3em;
  width: 3.2em;
  border-radius: 50%;
  position: absolute;
  left: 2.5em;
  top: -1em;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1em 0.1em;
}

.sort-by-section button,
.buy-now-btn {
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
  background-color: lightblue;
}

#homePageSection {
  padding-bottom: 10em;
}

.sort-by-section {
  position: fixed;
  top: 10.1em;
  right: 0.2em;
  z-index: 1;
}

.drinks_img img {
  width: 10em;
  height: 15em;
}

.quantity-selection button {
  background-color: lightblue;
  padding: 0 0.5em;
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
}

.dot-dot-dot {
  width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.quantity-selection input[type="number"] {
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
}

/******************************************* drink search */
.searched-drinks input[type="number"]:focus,
.searched-drinks input[type="number"]:active,
.searched-drinks input[type="number"]:hover,
.searched-drinks button:focus,
.searched-drinks button:active,
.searched-drinks button:hover {
  outline: none;
  border: #17a2b8 solid 0.2em;
  box-shadow: 0.1em 0.1em;
}

.searched-drinks input[type="number"] {
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
  border-radius: 0.2em;
}

.searched-drinks button {
  background-color: lightblue;
  padding: 0.3em;
  border: lightblue;
  border-radius: 0.2em;
}

/******************************************* about us */
#aboutUsSection {
  padding-bottom: 10em;
}

.about_us_img img {
  width: 10em;
  height: 10em;
}

/******************************************* shopping cart */
.shopping-cart-edit button:focus,
.shopping-cart-edit button:active,
.shopping-cart-edit button:hover,
.shopping-cart-edit input[type="number"]:focus,
.shopping-cart-edit input[type="number"]:active,
.shopping-cart-edit input[type="number"]:hover,
.pay-btn:focus,
.pay-btn:active,
.pay-btn:hover,
.back-to-home-pg-btn:focus,
.back-to-home-pg-btn:active,
.back-to-home-pg-btn:hover {
  border: #17a2b8 solid 0.2em;
  outline: none;
  box-shadow: 0.1em 0.1em;
}

.fas.fa-trash-alt:focus,
.fas.fa-trash-alt:active,
.fas.fa-trash-alt:hover {
  color: #17a2b8;
}

.shopping_cart_img {
  height: 12em;
  width: 7em;
}

.shopping-cart-edit {
  display: inline;
}

.shopping-cart-edit button {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  border: lightblue;
  padding: 0 0.5em;
}

.shopping-cart-edit input[type="number"] {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  width: 3em;
  border: lightblue solid 0.2em;
  text-align: center;
}

.fas.fa-trash-alt {
  font-size: 1.5em;
  cursor: pointer;
}

.pay-btn {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: lightblue;
  font-size: 1.7em;
}

.pay-btn-holder {
  padding-top: 1em;
}

.back-to-home-pg-btn {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: lightblue;
  font-size: 1em;
}

/******************************************* make payment */
.back-to-trolley:focus,
.back-to-trolley:active,
.back-to-trolley:hover,
.payment-form-border button:focus,
.payment-form-border button:active,
.payment-form-border button:hover {
  border: #17a2b8 solid 0.2em;
  outline: none;
  box-shadow: 0.1em 0.1em;
}

.drink-order-box {
  height: 30vh;
  border-top: solid lightblue 0.2em;
  border-bottom: solid lightblue 0.2em;
  overflow: auto;
  background-color: #f8f9fa;
}

.back-to-trolley {
  background-color: lightblue;
  padding: 0.3em;
  border-radius: 0.2em;
  font-size: 1.1em;
  box-shadow: 0.1em 0.1em;
  outline: none;
}

.payment-form-border {
  background-color: lightsteelblue;
  border: solid lightblue 0.2em;
  overflow: auto;
}

.payment-form-border button {
  background-color: lightblue;
  padding: 0.3em;
  border-radius: 0.2em;
  font-size: 1.1em;
  box-shadow: 0.1em 0.1em;
  border: lightblue;
}

/******************************************* stripe */
.StripeElement--focus,
.StripeElement:focus,
.StripeElement:active,
.StripeElement:hover,
.stripe-style-input:focus,
.stripe-style-input:active,
.stripe-style-input:hover {
  border: #17a2b8 solid 0.2em;
  outline: none;
  box-shadow: 0.1em 0.1em;
}

.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;
  background-color: white;
  border-radius: 0.2em;
  color: #212529;
}

.stripe-style-input::placeholder {
  color: #6c757d !important;
}

.StripeElement--invalid {
  border-color: red !important;
}

/******************************************* processing payment */
#loadingOverlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.63);
  z-index: 9999;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/******************************************* completed payment */
.message {
  font-size: 0.9em;
}

.payment-summary {
  border: lightblue 0.2em solid;
  margin: auto;
  padding-top: 10px;
  width: 100vw;
  height: 70vh;
  overflow: auto;
}

.back-to-profile-btn:focus,
.back-to-profile-btn:active,
.back-to-profile-btn:hover {
  border: #17a2b8 solid 0.2em;
  outline: none;
  box-shadow: 0.1em 0.1em;
}

.back-to-profile-btn {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: lightblue;
  font-size: 1em;
}

/******************************************* profiles */
.update-form-border button:focus,
.update-form-border button:active,
.update-form-border button:hover,
.change-password-btn:focus,
.change-password-btn:active,
.change-password-btn:hover {
  border: #17a2b8 solid 0.2em;
  outline: none;
  box-shadow: 0.1em 0.1em;
}

.update-form-border button,
.change-password-btn {
  box-shadow: 0.1em 0.1em;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: lightblue;
  font-size: 1em;
  border: lightblue;
}

.update-form-border {
  background-color: lightsteelblue;
  border: solid lightblue 0.2em;
  width: 90vw;
  margin: auto;
  overflow: auto;
  padding: 0.5em;
  height: 24em;
}

.empty-history-border {
  width: 90vw;
  border-top: solid lightblue 0.2em;
  border-bottom: solid lightblue 0.2em;
  overflow: auto;
  height: 6em;
  background-color: #f8f9fa;
  margin: auto;
}

.order-history-border{
  width: 90vw;
  border-top: solid lightblue 0.2em;
  border-bottom: solid lightblue 0.2em;
  overflow: auto;
  height: 25em;
  background-color: #f8f9fa;
  margin: auto;
}

.order-history-border thead {
  background-color: lightsteelblue;
}

/******************************************* allauth pages */
.signup-border,
.login-border,
.reset-password-border,
.change-password-border,
.add-email-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  width: 18em;
  margin: auto;
  overflow: auto;
}

.signup-border input,
.login-border input,
.change-password-border input,
.add-email-border input[type="email"],
.reset-password-border input[type="email"] {
  margin: 1em;
  height: 2.4em;
  background-color: white;
  border-radius: 0.2em;
  padding: 0em 0.2em;
  border: none;
}

.signup-border input,
.change-password-border input,
.add-email-border input,
.reset-password-border input[type="email"] {
  width: 15em;
}

.add-email-border input[type="radio"] {
  width: 1em;
}

select {
  cursor: pointer;
}

.change-password-border {
  height: 300px;
  margin-top: 1em;
}

.change-password-border input {
  margin-top: 1em;
}

.signup-border {
  height: 420px;
}

.login-border {
  height: 230px;
}

.reset-password-border {
  height: 150px;
}

.errorlist {
  color: #dc3545;
  font-weight: 900;
}

/******************************************* admin */
.edit-btn:active,
.edit-btn:focus,
.edit-btn:hover,
.edit-btn {
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
  outline: none;
}

.edit-btn:active,
.edit-btn:focus,
.edit-btn:hover {
  border: #17a2b8 solid 0.2em;
}

.management-form-border a,
.management-form-border button {
  padding: 0.4em;
}

.edit-btn {
  background-color: lightblue;
}

.django-admin-link {
  top: 0.5em;
  padding-left: 0.2em;
  margin-bottom: 1.5em;
}

.management-form-border input#id_image:focus {
  border: none;
}

.modal.fade {
  top: 5em;
}

.management-form-border {
  background-color: lightblue;
  border: solid #17a2b8 0.2em;
  overflow: auto;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

#adminBrowseImage {
  color: lightblue;
}

/******************************************* media queries ******************************************* */
@media (min-width: 356px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 4em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 13em;
    width: 9em;
  }
}

@media (min-width: 400px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 5.5em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 14em;
    width: 10em;
  }
}

@media (min-width: 442px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 7em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 15em;
    width: 11em;
  }
}

@media (min-width: 472px) {
  /******************************************* title, search bar, profile & trolley header */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 8em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 16em;
    width: 12em;
  }
}

@media (min-width: 526px) {
  /******************************************* title, search bar, profile & trolley header */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 9.5em;
  }

  /******************************************* shopping cart */
  .shopping_cart_img {
    height: 17em;
    width: 13em;
  }
}

/* bootstrap media query */
@media (min-width: 576px) {
  /******************************************* universal */
  html {
    scroll-padding-top: 10.5em;
  }

  /******************************************* title, search bar, profile & trolley header */
  #searchBar {
    width: 100%;
  }

  .fas.fa-user-alt {
    left: 3.7em;
    top: 0em;
  }

  .shopping-cart-price {
    right: 2.5em;
  }

  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 1em;
  }

  /******************************************* shopping cart */
  .trolley-padding-removal {
    padding: 0em;
  }

  .shopping_cart_img {
    height: 14em;
    width: 8em;
  }

  .shopping-cart-costs {
    padding: 0em 0em 0em 6em;
  }

  .pay-btn-holder {
    padding: 0.8em 0em 0em 4em;
  }

  /******************************************* make payment */
  .payment-form-border {
    height: 100vh;
  }

  /******************************************* profiles */
  .update-form-border,
  .order-history-border {
    width: 30em;
  }
   .update-form-border {
    padding: 1em;
    height: 25em;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border,
  .reset-password-border,
  .change-password-border,
  .add-email-border {
    width: 24em;
  }

  .change-password-border {
    height: 310px;
    margin-top: 2em;
  }

  .signup-border input,
  .login-border input,
  .add-email-border input {
    width: 21em;
  }
}

/* bootstrap media query */
@media (min-width: 768px) {
  /******************************************* title, search bar, profile & trolley header */
  .new-drinks-circle1 {
    left: 4em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 11em;
  }

  /******************************************* make payment */
  .drink-order-box {
    height: 100vh;
    border: solid lightblue 0.2em;
  }

  /******************************************* profiles */
  .update-form-border,
  .order-history-border {
    width: 22em;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border {
    width: 30em;
  }

  .signup-border input,
  .login-border input {
    width: 27em;
  }

  .change-password-border {
    width: 25em;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 3em;
  }
}

/* bootstrap media query */
@media (min-width: 992px) {
  /******************************************* universal */
  html {
    scroll-padding-top: 9.5em;
  }

  /******************************************* title, search bar, profile & trolley header */
  .d-none.d-lg-block.fixed-top.navbar {
    height: 150px;
  }

  .navbar-brand {
    font-size: 3em;
  }

  input[type="search"]#lgSearchBar {
    width: 29em;
  }

  .d-inline-block.form-inline {
    margin-left: 2em;
  }

  .fas.fa-user-alt {
    left: 19em;
    top: 0.5em;
  }

  .fas.fa-shopping-cart {
    top: 0.5em;
    right: 2.3em;
  }

  .trolley-counter-number {
    right: 1.5em;
    top: 1.3em;
    background-color: lightblue;
  }

  .shopping-cart-price {
    right: 3em;
    top: 2.9em;
  }

  /******************************************* desktop navbar header */
  .desktop-nav {
    margin-top: 5.1em;
    background-color: lightblue;
    height: 4em;
  }

  .desktop-links li {
    display: inline;
    font-size: 1.7em;
  }

  /******************************************* delivery header */
  .delivery-cost-bg {
    top: -0.5em;
  }

  .new-drinks-circle1 {
    left: 0em;
  }

  /******************************************* home page */
  .home-message {
    margin-top: 1.5em;
  }

  .sort-by-section {
    top: 9.5em;
  }

  .django-admin-link {
    margin: -0.9em 0em 0em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 19em;
  }

  .pay-btn-holder {
    padding: 1em 0em 0em 2em;
  }

  /******************************************* make payment */
  .drink-order-box,
  .payment-form-border {
    height: 530px;
  }

  /******************************************* completed payment */
  .payment-summary {
    width: 80vw;
  }

  /******************************************* profiles */
  .update-form-border,
  .order-history-border {
    width: 29.5em;
  }

  /******************************************* allauth pages */
  .signup-border {
    height: 430px;
  }

  .login-border {
    height: 230px;
  }

  .reset-password-border {
    height: 150px;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 10em;
  }
}

/* bootstrap media query */
@media (min-width: 1200px) {
  /******************************************* title, search bar, profile & trolley header */
  .fas.fa-user-alt {
    left: 24.5em;
  }

  input[type="search"]#lgSearchBar {
    width: 42.5em;
  }

  /******************************************* shopping cart */
  .shopping-cart-costs {
    padding: 0em 0em 0em 24em;
  }

  .pay-btn-holder {
    padding: 0.9em 0em 0em 1em;
  }

  /******************************************* completed payment */
  .payment-summary {
    width: 950px;
    height: 420px;
  }

  /******************************************* profiles */
  .update-form-border,
  .order-history-border {
    width: 34.5em;
  }

  /******************************************* allauth pages */
  .signup-border,
  .login-border,
  .change-password-border {
    width: 35em;
  }

  .signup-border input,
  .login-border input,
  .change-password-border input {
    width: 32em;
  }

  /******************************************* admin */
  .management-form-border {
    margin: 0em 15em;
  }
}

@media (min-width: 1366px) {
  /******************************************* title, search bar, profile & trolley header */
  .fas.fa-user-alt {
    left: 28em;
  }

  input[type="search"]#lgSearchBar {
    width: 51.5em;
  }
}
