/******************************************* universal */
* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.fixed-arrow {
  display: none;
  bottom: 1em;
  position: fixed;
  right: 0.5em;
  z-index: 1;
}

.fas.fa-arrow-circle-up {
  background-color: lightgray;
  border-radius: 2em;
}

html {
  scroll-padding-top: 12.5em;
  scroll-behavior: smooth;
}

/******************************************* headers */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.fixed-top.navbar input[type="search"]:focus {
  outline: none;
  box-shadow: none;
  border: slategray solid 0.2em;
}

.nav-link,
.trolley-price,
.trolley-counter {
  font-size: 1.2em;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover,
.history-and-trolley-bg,
.delivery-highlight {
  background-color: lightgray;
}

.fixed-top.navbar.navbar-expand-lg.navbar-light {
  z-index: 1070;
}

.nav-link:hover {
  transition: 0.5s;
}

.fixed-top.navbar input[type="search"] {
  border: lightgray solid 0.2em;
}

.search-btn-bg {
  background-color: lightgray;
}

.fas.fa-search {
  visibility: visible;
  font-size: 1.5em;
}

.navbar-collapse input.form-control {
  width: 70%;
}

.navbar-collapse button.btn {
  width: 30%;
}

.history-and-trolley-bg,
.delivery-cost-bg {
  width: 100%;
}

.trolley-counter,
.delivery-cost-bg {
  font-weight: 900;
}

.history-and-trolley-bg {
  height: 6em;
  margin-top: 3.4em;
}

.checkout-history-btn {
  border-radius: 0.2em;
  display: inline;
  background-color: lightgray;
}

.checkout-history-btn:active {
  background-color: lightslategray;
}

.trolley-counter {
  position: absolute;
  top: -0.2em;
  right: 0.4em;
}

.counter-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trolley-price {
  text-align: right;
}

.fas.fa-shopping-cart {
  font-size: 2em;
  margin-top: 0.2em;
}

.delivery-cost-bg {
  margin-top: 5.5em;
  font-size: 1.5em;
}

.delivery-highlight {
  padding: 0em 0.2em 0 0.1em;
}

/******************************************* footer */
html,
body {
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 4em;
}

#aboutUsSection {
  padding-bottom: 8em;
}

.footer-contacts {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card {
  border-radius: 0px;
}

.card-footer:last-child {
  border-radius: 0;
}

/******************************************* home page */
.quantity-selection button:active,
.quantity-selection button:focus {
  background-color: lightslategray;
}

.quantity-selection input[type="number"],
.quantity-selection button {
  font-weight: 900;
  border-radius: 0.2em;
}

.quantity-selection input[type="number"]:focus,
.quantity-selection button:focus {
  outline: none;
}

.drinks_img img,
.about_us_img img {
  width: 10em;
}

.new-drinks-circle1,
.new-drinks-circle2 {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  position: absolute;
  left: 2.5em;
  top: -1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-by-section {
  position: fixed;
  right: 0.3em;
  top: 10.8em;
  z-index: 1;
}

.sort-by-section button {
  background-color: lightgray;
}

.sort-by-section a:hover {
  background-color: gray;
}

.sort-by-section a:active {
  color: black;
  font-weight: 900;
}

.buy-now-btn {
  font-weight: 900;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
}

.quantity-selection input[type="number"] {
  width: 2.4em;
  border: gray solid 0.1em;
  text-align: center;
}

.quantity-selection input[type="number"]:focus {
  border: gray solid 0.2em;
}

.quantity-selection button {
  padding: 0 0.5em;
}

.drinks_img img {
  height: 15em;
}

.about_us_img img {
  height: 10em;
}

.new-drinks-title {
  margin-top: 1.5em;
}

/******************************************* shopping cart view */
.table-bordered {
  border: 0.2em solid slategray;
}

table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > th {
  border: 0.1em solid slategray;
}

.pay-btn,
.back-to-home-pg-btn {
  font-weight: 900;
  padding: 0.3em;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em;
}

.shopping_cart_img {
  height: 12em;
  width: 7em;
}

.shopping-cart-edit-btn {
  display: inline;
}

.fas.fa-trash-alt {
  font-size: 1.5em;
}

.pay-btn {
  font-size: 1.7em;
}

.back-to-home-pg-btn {
  font-size: 1em;
}

/******************************************* media queries ******************************************* */
@media (min-width: 356px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 4em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 13em;
    width: 9em;
  }
}

@media (min-width: 400px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 5.5em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 14em;
    width: 10em;
  }
}

@media (min-width: 442px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 7em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 15em;
    width: 11em;
  }
}

@media (min-width: 472px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 8em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 16em;
    width: 12em;
  }
}

@media (min-width: 526px) {
  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 9.5em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 17em;
    width: 13em;
  }
}

/* bootstrap media query */
@media (min-width: 576px) {
  /******************************************* headers */
  #search-bar {
    width: 100%;
  }

  /******************************************* home page */
  .new-drinks-circle1,
  .new-drinks-circle2 {
    left: 1em;
  }

  /******************************************* shopping cart view */
  .shopping_cart_img {
    height: 12em;
    width: 7em;
  }

  .shopping-cart-costs {
    padding: 0em 0em 0em 6em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 4em;
  }
}

/* bootstrap media query */
@media (min-width: 768px) {
  /******************************************* footer */
  .footer-contacts {
    position: absolute;
    bottom: 0;
  }

  /******************************************* home page */
  .new-drinks-circle1 {
    left: 4em;
  }

  /******************************************* shopping cart view */
  .shopping-cart-costs {
    padding: 0em 0em 0em 11em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 2em;
  }
}

/* bootstrap media query */
@media (min-width: 992px) {
  /******************************************* header */
  .text-left .navbar-brand.text-body {
    font-size: 3em;
  }

  input[type="search"] {
    border-radius: 5px;
    border: 0.2em lightgray solid;
    height: 2.5em;
  }

  .large-screen-search-bar {
    position: absolute;
    left: 8.1em;
    top: 1.2em;
    background-color: white;
  }

  .lg-search-bar.form-control:focus {
    outline: none;
    box-shadow: none;
    border: lightslategray solid 0.3em;
  }

  .shopping-cart-history-btn,
  .counter-circle {
    background-color: lightgray;
  }

  .shopping-cart-history-btn {
    display: block;
  }

  .trolley-counter {
    right: 2.4em;
  }

  .desktop-links-nav {
    margin-top: 5.1em;
    background-color: lightgray;
  }

  .desktop-links li {
    display: inline;
    font-size: 2em;
  }

  .new-drinks-circle1 {
    left: 1em;
  }

  /******************************************* shopping cart view */
  .shopping-cart-costs {
    padding: 0em 0em 0em 19em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 2em;
  }
}

/* bootstrap media query */
@media (min-width: 1200px) {
  /******************************************* header */
  .trolley-counter {
    right: 3.1em;
  }

  /******************************************* shopping cart view */
  .shopping-cart-costs {
    padding: 0em 0em 0em 24em;
  }

  .pay-btn-holder {
    padding: 0em 0em 0em 1em;
  }
}
