{% extends "base.html" %}
{% load static %}

{% block tab_title %}| My Profile{% endblock %}

{% block payment %}
    <section class="footer-pusher">
        <h1 class="text-capitalize mt-3">my profile</h1> 

        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-capitalize">personal details</h2>
                    <form id="updateProfileForm" class="update-form-border mb-5" method="POST" action="{% url 'user_profiles' %}">
                        {% csrf_token %}
                        {{ form|crispy }}                    
                        <button class="form-submit-btn text-uppercase bg-secondary mt-4 font-weight-bolder" type="submit">update information</button>
                    </form>
                </div>

                <div class="col-12">
                    <h2 class="text-capitalize">order history</h2>  
                    {{ drink_orders }}                  
                </div>
            </div>
        </div>

        {{ user_profiles }}
    </section>
{% endblock %}
