<!-- bootstrap card -->
<footer class="footer-contacts font-weight-bold">
    <div class="card border-secondary">
        <div class="card-footer bg-secondary border-secondary text-center pb-0 pt-0">
            <i class="fa-2x fab fa-youtube"></i>
            <i class="fa-2x fab fa-twitter-square"></i>
            <i class="fa-2x fab fa-snapchat-square"></i>
            <i class="fa-2x fab fa-facebook-square"></i>
            <i class="fa-2x fab fa-instagram"></i>
            <p class="mb-0">
                +585 8415 7327<br>slurps@civoo.com<br> Slurps, 91 North Street, Winterfield, E92 3QB
            </p>                  
        </div>
    </div>
</footer>