<!-- bootstrap card -->
<footer class="footer-contacts font-weight-bold">
   <div class="card">
      <div class="card-footer text-center pb-0 pt-0">
         <a href="https://www.youtube.com/" target="_blank">
         <i class="fa-2x fab fa-youtube"></i>
         </a> 
         <a href="https://twitter.com/" target="_blank">
         <i class="fa-2x fab fa-twitter-square"></i>
         </a>
         <a href="https://www.snapchat.com/" target="_blank">
         <i class="fa-2x fab fa-snapchat-square"></i>
         </a>
         <a href="https://www.facebook.com/" target="_blank">
         <i class="fa-2x fab fa-facebook-square"></i>
         </a>
         <a href="https://www.instagram.com/" target="_blank">
         <i class="fa-2x fab fa-instagram"></i>
         </a>
         <p class="mb-0">
            +585 8415 7327<br>{{ company_email }}<br> Slurps, 91 North Street, Winterfield, E92 3QB
         </p>
      </div>
   </div>
</footer>