<div class="history-and-trolley-bg fixed-top">

    <a href="#" class="text-body">
        <div class="checkout-history-btn font-weight-bold text-uppercase">checkout history</div>
    </a>
    
    <a href="#" class="{% if grand_total %}text-secondary{% else %}text-body{% endif %}">                    
        <i class="fas fa-shopping-cart"></i>
        <span class="trolley-counter">0</span>
        <span class="trolley-price font-weight-bold">
            {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
            {% else %}
                £0.00
            {% endif %}
        </span>                                    
    </a> 

</div>