<nav class="d-none d-lg-block fixed-top bg-secondary">
    <div class="container">
        <div class="row">
           
            <div class="col-3 text-left mr-0">
                <a class="navbar-brand text-body font-weight-bold" href="#">Slurps</a>
            </div>

            <div class="col-4 pl-0">
                <form method="GET" action="{% url 'home' %}" class="form-inline mt-4">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">                            
                            <button class="search-btn-bg input-group-text" id="basic-addon1" type="submit">
                               <i class="fas fa-search text-body font-weight-bold"></i>
                            </button>                        
                        </div>
                        <input type="search" name="search" class="lg-search-bar form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" required>
                    </div>                    
                </form>
            </div>

            <div class="col-3 mt-4">
                <a href="#" class="text-body">
                    <div class="checkout-history-btn font-weight-bold text-uppercase p-2">checkout history</div>
                </a>
            </div>

            <div class="col-2 mt-2">
                <a href="{% url 'shopping_cart' %}" class="text-body"> 
                    <i class="fas fa-shopping-cart"></i>
                    <span class="trolley-counter counter-circle text-center bg-secondary">{{ drink_counter}}</span>   
                    <span class="trolley-counter counter-circle text-center">{{ drink_counter}}</span>
                    <div class="col-sm">
                        <span class="trolley-price font-weight-bold">
                            {% if shopping_cart_items %}
                                £{{ subtotal|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </span> 
                    </div>
                </a>
            </div>

        </div>
    </div>
</nav>