<nav class="desktop-links-nav d-none fixed-top d-lg-block">
    <ul class="desktop-links">
        {% if not this_is_the_homepage %}
            <li>
                <a class="text-body text-capitalize" href="{% url 'home' %}">home <span>|</span><span class="sr-only">(current)</span></a>
            </li>
        {% endif %} 
        {% if this_is_the_homepage %}
            <li>
                <a class="text-body text-capitalize" href="#juiceSection">juices <span>|</span></a>
            </li>
            <li>
                <a class="text-body text-capitalize" href="#milkshakeSection">milkshakes <span>|</span></a>
            </li>
            <li>
                <a class="text-body text-capitalize" href="#aboutUsSection">our mission <span>|</span></a>
            </li>
        {% endif %} 
        {% if request.user.is_superuser %}
            <li>
                <a class="text-body text-capitalize" href="{% url 'add_drink' %}">add drink <span>|</span></a>
            </li>
            <li>
                <a class="text-body text-capitalize" href="{% url 'append_about_us' %}">add mission <span>|</span></a>
            </li>
        {% endif %}        
        {% if not request.user.is_authenticated %}            
            <li>
                <a class="text-body text-capitalize" href="{% url 'account_signup' %}">sign up <span>|</span></a>
            </li>
            <li>
                <a class="text-body text-capitalize" href="{% url 'account_login' %}">log in <span></span></a>
            </li>
        {% else %}
            <li>
                <a class="text-body text-capitalize" href="{% url 'account_logout' %}">log out</a>
            </li>
        {% endif %}
    </ul>
</nav>