<div class="history-and-trolley-bg fixed-top mt-lg-0 d-lg-none">
    <div class="container px-0">
        <div class="row">

            <div class="col-7 ml-1 pr-0 mt-4">
                <a href="#" class="text-body">
                    <div class="checkout-history-btn font-weight-bold text-uppercase p-2 bg-secondary">checkout history</div>
                </a>
            </div>

            <div class="col-4">
                <a href="{% url 'shopping_cart' %}" class="text-body">   
                    <div class="container text-right">
                        <div class="row">
                            <div class="col-sm pr-4 mt-2">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="trolley-counter counter-circle text-center bg-secondary">{{ drink_counter}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <span class="trolley-price font-weight-bold">                                  
                                    {% if shopping_cart_items %}
                                        £{{ subtotal|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </span> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>