<!-- bootstrap navbar -->
<nav class="d-lg-none fixed-top navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand font-weight-bold text-capitalize" href="{% url 'home' %}">slurps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-1x fas fa-bars text-body"></i></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-body text-capitalize" href="{% url 'home' %}">home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body text-capitalize" href="/#juiceSection">juices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body text-capitalize" href="/#milkshakeSection">milkshakes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-body text-capitalize" href="/#aboutUsSection">about us</a>
            </li>
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-body text-capitalize" href="#">admin</a>
                </li>
            {% endif %}
            {% if not request.user.is_authenticated %}            
                <li class="nav-item">
                    <a class="nav-link text-body text-capitalize" href="{% url 'account_signup' %}">sign up/log in</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-body text-capitalize" href="#">log out</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <form method="GET" action="{% url 'home' %}" class="form-inline">
                    {% csrf_token %}
                    <div class="search-box-and-btn">
                        <input class="form-control mr-0 text-body font-weight-bold" type="search" placeholder="Search" aria-label="Search" name="search" required>
                        <button class="search-btn my-2 my-sm-0 text-body" type="submit">      
                            <i class="fas fa-search text-body font-weight-bold"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>

    </div>
</nav>