{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block tab_title %}| Confirm Email{% endblock %}


{% block content %}
    <section class="footer-pusher">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-3">{% trans "Confirm E-mail Address" %}</h1>
                    {% if confirmation %}
                        {% user_display confirmation.email_address.user as user_display %}
                        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for the user <span style="text-transform:capitalize;"><b>{{ user_display }}</b></span>.{% endblocktrans %}</p>
                        <form class="confirm-email" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                            <button class="text-uppercase mt-2 font-weight-bolder" type="submit">{% trans 'Confirm' %}</button>
                        </form>
                    {% else %}
                        {% url 'account_email' as email_url %}
                        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                    {% endif %}
                </div>  
            </div>        
        </div>   
    </section>
{% endblock %}
