{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block tab_title %}| Change Password{% endblock %}

{% block content %}
    <section class="footer-pusher">
        <div class="container mt-2">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-3">{% trans "Change Password" %}</h1>
                    <form method="POST" action="{% url 'account_change_password' %}" class="change-password-border py-3 password_change">
                        {% csrf_token %}
                        {{ form.as_ul }}
                        <button class="form-submit-btn text-uppercase bg-info mt-2 font-weight-bolder" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                </div>  
            </div>        
        </div>   
    </section>
{% endblock %}
