{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Reset Password" %}{% endblock %}
{% block tab_title %}| Reset Password{% endblock %}

{% block content %}
    <section class="footer-pusher">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Reset Password" %}{% endif %}</h1>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}" class="reset-password2-border">
                                {% csrf_token %}
                                {{ form.as_ul }}
                                <input type="submit" name="action" value="{% trans 'reset password' %}" class="text-uppercase mt-2 font-weight-bolder"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now reset.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>            
    </section>
{% endblock %}
