{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="footer-pusher">
    <h1 class="mt-2">{% trans "Sign Up" %}/{% trans "Log In" %}</h1>


    <h2 class="mt-4 mb-0">{% trans "Sign Up" %}</h2>
    <div class="signup-border">
        <form class="signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_ul }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="text-center">
            <button type="submit" class="text-uppercase bg-secondary mt-2 form-submit-btn font-weight-bolder">{% trans "Sign Up" %}</button>
          </div>
        </form>    
    </div>
    <p class="mb-0 mt-2">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="font-weight-bolder">log in</a> below.{% endblocktrans %}</p>

    <h2 class="mt-4 mb-0">{% trans "Log In" %}</h2>

</section>
{% endblock %}
