{% extends "base.html" %}
{% load static %}

{% block tab_title %}| Shopping Cart{% endblock %}

{% block home %}

<h2 class="text-capitalize mt-3 mb-5">shopping cart</h2>

    {% if shopping_cart_items %}
        {% for shopping_cart in shopping_cart_items %} 
            <div class="shopping-cart-section container">
                <div class="row">

                    <div class="drinks_img col-12 col-sm-3">                       
                        <img src="{{ shopping_cart.item_id.image}}" class="rounded">                         
                    </div>

                    <div class="col-12 col-sm-9"> 

                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-capitalize table-secondary">
                                    <th scope="col">name</th>
                                    <th scope="col">size</th>
                                    <th scope="col">quantity</th>
                                    <th scope="col">price</th>
                                    <th scope="col">sub total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-capitalize">
                                    <th>{{ shopping_cart.drink.drink_name }}</th>
                                    <th class="text-lowercase">1x{{ shopping_cart.drink.millilitres }}ml</th>
                                    <th>{{ shopping_cart.drink_quantity }}</th>
                                    <th>£{{ shopping_cart.drink.price }}</th>
                                    <th>£{{ shopping_cart.drink.subtotal }}</th>
                                </tr>
                            </tbody>
                        </table> 
                    </div>

                    <div class="col-12 ">
                        <form method="GET" action="#" class="quantity-selection shopping-cart-edit-btn">
                            {% csrf_token %}
                            <label for="#"></label>
                            <button type="submit" class="text-uppercase bg-secondary mb-5">edit</button>
                            <input value="#" type="number" id="#" name="#">
                        </form> 
                        <i class="fas fa-trash-alt ml-1" data-toggle="modal" data-target="#bin{{ shopping_cart.item_id }}"></i>
                    </div>

                </div>
            </div>

            <!-- modal from bootstrap -->
            <div class="modal fade mt-5" id="bin{{ shopping_cart.item_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-capitalize">
                            <h5 class="modal-title text-capitalize font-weight-bolder" id="exampleModalLabel">are you sure you want to delete</h5>
                            <br><br>
                            <p>"{{ shopping_cart.drink.drink_name }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger text-capitalize" data-dismiss="modal">no</button>
                            <button type="button" class="btn btn-success text-capitalize">yes</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}   
    {% else %} 
        <div>
            <p>Your shopping cart is empty!</p>
            <a class="back-to-home-pg-btn text-body text-capitalize bg-secondary text-body" href="{% url 'home' %}">back to home</a>
        </div>
    {% endif %}

    <div class="subtotal-section">
        <div class="shopping-cart-totals col-6 col-sm-4 text-capitalize ">
            <ul class="text-left">
                <li>subtotal: £</li>
                <li>delivery cost: £</li>
                <li>grand total: £</li>
            </ul>
        </div>

        <div class="col-6 col-sm-2 text-uppercase">
            <a href="#" class="pay-btn text-capitalize bg-secondary text-body">pay</a>
        </div>
    </div>

{% endblock %}