<section id="aboutUsSection">
    <div class="container mt-5"> 
        <div class="row">           
            {% for main in main_mission %}
                <div class="col-12 mt-3 mb-4"> 
                    {% include "includes/about-us-details-includes/about-us-main-details.html" %}                 
                    {% include "includes/about-us-modals-includes/about-us-main-modals.html" %}                    
                </div> 
            {% endfor %}
            {% for sub in sub_mission %}
                <div class="col-12 col-md-4 mb-3">
                    <div class="about_us_img">
                        {% include "includes/about-us-images-includes/about-us-sub-images.html" %}  
                        {% include "includes/about-us-details-includes/about-us-sub-details.html" %}                                       
                    </div>                    
                    {% include "includes/about-us-modals-includes/about-us-sub-modals.html" %}                      
                </div>
            {% endfor %}        
        </div>
    </div>
</section>
