<section id="milkshakeSection">
    <h1 class="text-capitalize my-4">milkshakes</h1>
    <div class="container">
        <div class="row">
            {% for milkshake in milkshakes %}
                <div id="milkshakeSelection_{{ milkshake.id }}" class="mt-4 col-sm-6 col-md-4 col-lg-3">            
                    <div class="container">                
                        <div class="row">  
                            <div class="col">
                                {% include "includes/drink-images-includes/milkshake-images.html" %} 
                                {% include "includes/drink-details-includes/milkshake-details.html" %} 
                                {% include "includes/drink-forms-includes/milkshake-forms.html" %} 
                                {% include "includes/drink-modals-includes/milkshake-modals.html" %}                                    
                            </div>
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
</section>
